---
layout: 'base.njk'
---
       
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <p align="center">
        <img id="featured-image" width="1000" height="500" src="{{ image }}" alt="{{ imageAlt }}">
      </p>
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    
    {{ content | safe }}

</div>
</article>
 